<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->

<connectionStrings>
  <add name="TCConnection" connectionString="Data Source=103.87.173.192,1633;initial catalog=LoveLuxury;user id=sa;Password=jkw@83nBA;MultipleActiveResultSets=true;Connect TimeOut=15;Max Pool Size=500;" providerName="System.Data.SqlClient"/>
  <!--<add name="TCConnection" connectionString="Data Source=octopus-pc;initial catalog=LevelDemo;user id=sa;Password=123;MultipleActiveResultSets=true;Connect TimeOut=15;Max Pool Size=500;" providerName="System.Data.SqlClient"/>-->
     <!--<add name="TCConnection" connectionString="Data Source=DESKTOP-E5MRU7R;initial catalog=ArtJewelry;Integrated Security=true;MultipleActiveResultSets=true;Connect TimeOut=15;Max Pool Size=500;" providerName="System.Data.SqlClient"/>-->
     <!-- <add name="TCConnection" connectionString="Data Source=108.178.51.226,1533;initial catalog=newdemo;user id=newdemo;Password=8newdemo*k@8;MultipleActiveResultSets=true;Connect TimeOut=15;Max Pool Size=500;" providerName="System.Data.SqlClient"/>-->
     <!--<add name="conn_recharge" connectionString="Data Source=108.178.51.226,1533;initial catalog=recharge; user id=recharge;Password=rec!@78)&lt;fg;MultipleActiveResultSets=true;Connect TimeOut=15;Max Pool Size=500;" providerName="System.Data.SqlClient"/>-->
</connectionStrings>


