<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->

<appSettings>
  <add key="profileimagepath" value="~/upload/profileimages/" />
  <add key="bankslip" value="~/upload/bankslip/" />
  <add key="logo" value="images/logo.png" />
  
  <add key="companyname" value="kouserdesign" />
  <add key="companynameShort" value="kouserdesign" />
  <add key="email" value="contact@love-luxury.in" />
  <!--<add key="admin_email" value="Million@gmail.com" />
  <add key="errormail" value="errordetails@gmail.in" />
  <add key="supportemail" value="support@vidcommx.com" />-->
  <add key="infoemail" value="yeshsharma87@gmail.com" />
  <add key="url" value="http://love-luxury.in" />
  <add key="sms_key" value="59f6de5acd569" />
  <add key="sms_senderid" value="CENTRL" />
  <add key="companyMobile" value="9999999999" />
  <add key="smtp_host" value="smtp.gmail.com" />
  <add key="smtp_username" value="securemailserverhosting@gmail.com" />
  <add key="smtp_pwd" value="zejvrzscuxmkrrvm" />
  <add key="smtp_DisplayName" value="kouserdesign‏" />
  <add key="mlmMember" value="Distributor‏" />
</appSettings>


